.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* ZoomImage.css */
.zoom-image-container {
    overflow: hidden;
  }
  
  .zoom-image {
    transition: transform 0.3s;
  }
  
  .zoom-image:hover {
    transform: scale(1.2); /* Adjust the scale factor for the desired zoom level */
  }