.card-container {
  width: 18rem;
}

.card-container .card-body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ZoomImage.css */
.zoom-image-container {
    overflow: hidden;
  }
  
  .zoom-image {
    transition: transform 0.3s;
  }
  
  .zoom-image:hover {
    transform: scale(1.2); /* Adjust the scale factor for the desired zoom level */
  }

  /* Add this to your ProductSlider.css file or your stylesheet */
@media (max-width: 280px) {
    .card-width {
        width: 15rem !important;
    }
  }
  